p {
	padding: 16px;
}

h1 {
	border-bottom-width: 10px;
	margin: 6px;
	padding: 5px 5px 0px 50px;
}

h4 {
	border-bottom-width: 10px;
	margin: 6px;
	padding: 0px 0px 10px 50px;

}

.row {
	padding: 10px;
	border-bottom-width: 10px;
	margin: 6px;
}
